{#
SPDX-License-Identifier: MIT OR Apache-2.0
SPDX-FileCopyrightText: 2024 1BitSquared <info@1bitsquared.com>
SPDX-FileContributor: Written by Piotr Esden-Tempski <piotr@1bitsquared.com>
#}

{% extends "index.html" %}

{% block order_id_value %}value="{{ order_id }}"{% endblock %}
{% block order_year_value %}value="{{ order_year }}"{% endblock %}
{% block order_month_value %}value="{{ order_month }}"{% endblock %}
{% block order_day_value %}value="{{ order_day }}"{% endblock %}

{% block order_result %}

<br/>

{% match order %}
{% when None %}
Sorry could not find order with the ID {{ order_id }}.
{% when Some with (order_data) %}
{% if order_data.fulfilled %}
Your order number {{ order_id }} was fulfilled. It had the queue id {{ order_data.queue_id }}.
{% else %}
Your order number {{ order_id }} has the queue id {{ order_data.queue_id }}.<br/>
There are still {{ order_data.queue_id - orders.get_fulfilled_count() }} orders to fulfill before it is your turn.<br/>
Order contents:
<div class="product_list">
<table>
    <tr>
        <th>Product</th>
        <th>Queue ID</th>
        <th>Status</th>
    </tr>
    {% for p in order_data.products %}
    <tr>
    {% match p %}
    {% when glasgow_data::Product::Glasgow with { id: product_id }%}
        <td>Glasgow</td>
        <td>{{ product_id }}</td>
        {% if product_id.le(orders.glasgow_sent_to_mouser) %}
            <td>Ready to ship.</td>
        {% else %}
            <td>Need to ship {{ product_id - orders.glasgow_sent_to_mouser }} to Mouser before ready.</td>
        {% endif %}
    {% when glasgow_data::Product::GlasgowCase with { id: product_id }%}
        <td>Glasgow Case</td>
        <td>{{ product_id  }}</td>
        {% if product_id.le(orders.glasgow_cases_sent_to_mouser) %}
            <td>Ready to ship.</td>
        {% else %}
            <td>Need to ship {{ product_id - orders.glasgow_cases_sent_to_mouser }} to Mouser before ready.</td>
        {% endif %}
    {% when glasgow_data::Product::GlasgowEarlyBird with { id: product_id }%}
        <td>EarlyBird Glasgow</td>
        <td>{{ product_id }}</td>
        {% if product_id.le(orders.glasgow_sent_to_mouser) %}
            <td>Ready to ship.</td>
        {% else %}
            <td>Need to ship {{ product_id - orders.glasgow_sent_to_mouser }} to Mouser before ready.</td>
        {% endif %}
    {% when glasgow_data::Product::GlasgowCaseEarlyBird with { id: product_id }%}
        <td>EarlyBird Glasgow Case</td>
        <td>{{ product_id }}</td>
        {% if product_id.le(orders.glasgow_cases_sent_to_mouser) %}
            <td>Ready to ship.</td>
        {% else %}
            <td>Need to ship {{ product_id - orders.glasgow_cases_sent_to_mouser }} to Mouser before ready.</td>
        {% endif %}
    {% when glasgow_data::Product::Unknown with { name: pn }%}
        <td>{{ pn }}</td>
        <td><hr/></td>
        <td><hr/></td>
    {% endmatch %}
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}
{% endmatch %}

{% endblock %}