{#
SPDX-License-Identifier: MIT OR Apache-2.0
SPDX-FileCopyrightText: 2024 1BitSquared <info@1bitsquared.com>
SPDX-FileContributor: Written by Piotr Esden-Tempski <piotr@1bitsquared.com>
#}

{% extends "index.html" %}

{% block order_id_value %}value="{{ order_id }}"{% endblock %}
{% block order_year_value %}value="{{ order_year }}"{% endblock %}
{% block order_month_value %}value="{{ order_month }}"{% endblock %}
{% block order_day_value %}value="{{ order_day }}"{% endblock %}

{% block order_result %}
<li class="list-group-item m-2 mt-0">

{% match order %}
{% when None %}
Sorry could not find order with the ID {{ order_id }}.
{% when Some with (order_data) %}
{% if order_data.fulfilled %}
Your order number {{ order_id }} was fulfilled. It had the queue id {{ order_data.queue_id }}.
{% else %}
Your order number {{ order_id }} has the queue id {{ order_data.queue_id }}.<br/>
{% if order_data.queue_id <= orders.get_fulfilled_count() %}
According to our records your order should have already shipped, there might be a lot of reasons why this is the case.<br/>
Here are a few potential reasons:
<ul>
<li>You are located in a country that got sanctioned after the campaign was concluded. For example Russian Federation.</li>
<li>You had or have pending fees on your order due to customs cost adjustments and your queue position had to be pushed.</li>
<li>Our queue placement prediction does not match reality.</li>
</ul>
You can <a href="https://www.crowdsupply.com/contact/status-pre-shipment">contact Crowd Supply directly</a> and ask for the reason why your order was not shipped yet.
{% else %}
There are still {{ order_data.queue_id - orders.get_fulfilled_count() }} orders to fulfill before it is your turn.
{% endif %}
<br/>
Order contents:
<div class="table-responsive">
<table class="table text-center table-hover table-sm">
    <tr>
        <th>Product</th>
        <th>Queue ID</th>
        <th>Status</th>
    </tr>
    {% for p in order_data.products %}
    <tr>
    {% match p %}
    {% when glasgow_data::Product::Glasgow with { id: product_id }%}
        <th scope="row" class="text-start">Glasgow</th>
        <td>{{ product_id }}</td>
        {% if product_id.le(orders.glasgow_sent_to_mouser) %}
            <td>Ready to ship.</td>
        {% else %}
            <td>Need to ship {{ product_id - orders.glasgow_sent_to_mouser }} to Mouser before ready.</td>
        {% endif %}
    {% when glasgow_data::Product::GlasgowCase with { id: product_id }%}
        <th scope="row" class="text-start">Glasgow Case</th>
        <td>{{ product_id  }}</td>
        {% if product_id.le(orders.glasgow_cases_sent_to_mouser) %}
            <td>Ready to ship.</td>
        {% else %}
            <td>Need to ship {{ product_id - orders.glasgow_cases_sent_to_mouser }} to Mouser before ready.</td>
        {% endif %}
    {% when glasgow_data::Product::GlasgowEarlyBird with { id: product_id }%}
        <th scope="row" class="text-start">EarlyBird Glasgow</th>
        <td>{{ product_id }}</td>
        {% if product_id.le(orders.glasgow_sent_to_mouser) %}
            <td>Ready to ship.</td>
        {% else %}
            <td>Need to ship {{ product_id - orders.glasgow_sent_to_mouser }} to Mouser before ready.</td>
        {% endif %}
    {% when glasgow_data::Product::GlasgowCaseEarlyBird with { id: product_id }%}
        <th scope="row" class="text-start">EarlyBird Glasgow Case</th>
        <td>{{ product_id }}</td>
        {% if product_id.le(orders.glasgow_cases_sent_to_mouser) %}
            <td>Ready to ship.</td>
        {% else %}
            <td>Need to ship {{ product_id - orders.glasgow_cases_sent_to_mouser }} to Mouser before ready.</td>
        {% endif %}
    {% when glasgow_data::Product::Unknown with { name: pn }%}
        <th scope="row" class="text-start">{{ pn }}</th>
        <td><hr/></td>
        <td><hr/></td>
    {% endmatch %}
    </tr>
    {% endfor %}
</table>
</div>

</li>
{% endif %}
{% endmatch %}

{% endblock %}